[Unit]
Description=MPD helper for batya's player
After=network.target

[Service]
Type=exec
ExecStart=/home/ilya/mp_helperd/main.py
Environment=PYTHONUNBUFFERED=1
# User=mpd

[Install]
WantedBy=multi-user.target

